<nav class="navbar navbar navbar-default header p-0 m-0">
    <div class="d-flex justify-content-between align-items-center main-navbar">
        <div class="logo-fis d-flex justify-content-center align-items-center">
            <a class="navbar-brand text-center" href="{% url 'index' %}">
                {% load static %}
                <img class="fis-logo" src="{% static 'frontend/images/fis-logo.png' %}" alt="logo">
            </a>
        </div>
        <div class="dropdown">
            <button class="dropdown-toggle btn-user" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {% if user.is_authenticated %}
                {{ user.get_username }}
                {% endif %}
            </button>
            <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenuButton">
                <ul class="dropdown-item">
                    <li>
                        <a class="dropdown-item d-flex justify-content-between align-items-center" href="#">
                            <span>Change password</span>
                            <span class="key-icon"></span>
                        </a>
                    </li>

                </ul>
                <ul class="dropdown-item">
                    <li>
                        <a class="dropdown-item d-flex justify-content-between align-items-center" href="/admin/logout/">
                            <span>Logout</span>
                            <span class="logout-icon"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
